@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  font-family: degular, sans-serif;
}

.bg-header {
  background: #022c5e;
}

@media (min-width: 1024px) {
  .bg-header {
    background: url(./assets/bg.svg), lightgray 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
.bg-section-2 {
  background: linear-gradient(
    260deg,
    #610aed 42.94%,
    #4601b5 42.94%,
    #04022a 90.22%
  );
}

.bg-gradient {
  background: rgb(11, 111, 224);
  background: linear-gradient(
    0deg,
    #610aed 0%,
    #4601b5 35%,
    #04022a 100%
  );
}
.bg-section-3 {
  /*  background-image: url(./assets/bg-section-3.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%; */
  background: linear-gradient(
    0deg,
    #04022a 10%,
    #4601b5 60%,
    #610aed 100%
  );
}

.bg-section-5 {
  background: rgb(11, 111, 224);
  background: linear-gradient(
    0deg,
    #610aed 0%,
    #4601b5 30%,
    #04022a 70%
  );
}

.arrow-container {
  position: relative;
  animation: jump 1s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.arrow {
  transition: transform 0.2s ease-in-out;
}

.arrow-container:hover .arrow {
  transform: translateY(-20px);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidding {
  display: none;
}

a {
  scroll-behavior: smooth;
}


@media screen and (max-width:768px) {
  .exemplos .swiper-button-prev, .exemplos .swiper-button-next{
    display: none;
  } 
}

